.main-container {
  background-color: #E5E5E5;
  display: flex;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3rem;
  gap: 3rem;
}

.main-container .pin-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 4px 20px #0000000d;
  border-radius: 20px;
  width: -webkit-fill-available;
}

.h2 {
  font-weight: 700;
  padding-bottom: 15px;
  font-size: 1.5rem;
}

.description {
  color: #7A7886;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.code-wrapper {
  text-align: center;
}
.form input {
  width: 100%;
  height: 2rem;
  border: none;
  color: var(--secondary);
  border-bottom: 1.5px solid var(--secondary);
  background-color: transparent;
  font-weight: 600;
  padding-left: 1.75rem;
}

.form input::placeholder {
  color: var(--secondary);
}

.form input:focus {
  outline: none;
}
.form div {
  position: relative;
}

.form i {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  color: var(--secondary);
  left: 0.25rem;
}
.form i.toggle-password {
  position: absolute;
  top: 50%;
  left: auto;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}
.link-forgot {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  font-weight: 600;
  margin-top: -0.5rem;
}

.link-forgot a {
  color: var(--secondary);
  text-decoration: none;
}
.form button {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  border: none;
  color: var(--primary);
  background-color: var(--secondary);
  font-weight: 700;
  border-radius: 0.75rem;
}
.form button:disabled {
  color: var(--disabled-mobile);
  background-color: var(--dark03);
}
.form button:hover {
  opacity: 0.9;
}

.link-blue {
  color: var(--secondary);
  text-align: center;
}

.link-blue a:hover,
.link-forgot a:hover {
  opacity: 0.7;
}

.password-notif {
  text-align: center;
  color: var(--red);
}
.password-notif.hide {
  display: none;
}
.password-notif.show {
  display: initial;
}
.form .hide {
  display: none;
}
.form .confirm-text {
  text-align: center;
  color: var(--secondary);
}

.form-container {
  text-align: center;
  /* padding-bottom: 15rem; */
  padding: 1rem 7rem 5rem 7rem;
}

.form {
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  grid-gap: 4rem;
  /* align-items: center; */
}

.form input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1.5px solid #3a3d424d;
  background-color: transparent;
  font-weight: 600;
  padding-left: 1.25rem;
}

.form input::placeholder {
  color: #3a3d424d;
}

.form input:focus {
  outline: none;
}

.form input:not(:placeholder-shown) {
  border-bottom: 2px solid #6379f4;
}

.form button {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  border: none;
  color: white;
  background-color: #6379f4;
  font-weight: 700;
  border-radius: 0.75rem;
}

.form button:hover {
  background-color: #6379f4;
  border-color: #6379f4;
  opacity: 0.9;
}

.form button:disabled {
  color: var(--dark);
  background-color: #3a3d424d;
}

.form div {
  position: relative;
}

@media (max-width: 576px) {
  .main-container {
    flex-direction: column;
    padding: 1rem;
  }

  .pin-container {
    padding: 0;
  }

  .form-container {
    padding: 0px;
  }

  .title {
    text-align: center;
  }
}